html{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

svg{
  border-style: solid;
  border-width: 1px;
}

.line_label{
  font-size: 12px;
  font-weight: none;
}

.axislabel{
  font-size: 10px;
  font-weight: none;
}

#linegraphtitle{
  font-size: 15px;
}

.dataline:hover{
  stroke: orange;
}