html{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-color: antiquewhite;
  text-align: center;
}

svg{
  border-style: solid;
  border-width: 1px;
}

.line_label{
  font-size: 12px;
  font-weight: none;
}

.axislabel{
  font-size: 10px;
  font-weight: none;
}

#linegraphtitle{
  font-size: 15px;
}

.dataline:hover{
  stroke: orange;
}

.noshow{
  display: none;
}
.legend{
  width:3vw;
  border: 2px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.legendcont{
  display: flex;
}

.fullcont{
  display: flex;
  padding: 10px;
  justify-content: space-between;
}